<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<title>Edit Sushi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Edit Sushi</h1>
	<table>
		<div>
	 		<form th:object="${sushi}" th:action="@{/update/{id}(id=${sushi.id})}" method="post">
	 			 <label for="id"></label>
				 <input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
				 <label for="name">Name</label>
				 <input type="text" id="name" th:field="*{name}" />
				 <label for="description">Description</label>
				 <input type="text" th:field="*{description}" />
				 <label for="price">Price</label>
				 <input type="text" th:field="*{price}" />
				 <label for="category">Category</label>
				 <select th:field="*{category}" class="form-control">
				 <option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}" />
				 </select>
				 <input type="submit" value="Save" ></input>
	 		</form>
		</div>
	</table>
<a href="/sushilist" class="btn btn-primary" >Back to listing</a>

</body>
</html>